<tbody>
  <% @projects.each do |project| %>
    <tr>
      <td><%= project.name %></td>
      <td><%= link_to 'Show', project, class: 'btn btn-outline-success' %></td>
      <td><%= link_to 'Edit', edit_project_path(project), class: 'btn btn-outline-warning' %></td>
      <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger' %></td>
      <%= form_tag contracts_path, method: :post, remote: true, class: "navbar-form navbar-left search-form" do %>
      <%= hidden_field_tag 'project_id', project.id %>
        <td>
          <div class="input-group">
            <%= select_tag('worker', options_from_collection_for_select(@workers, "id", "name"), class: 'custom-select') %>
            <div class="input-group-append" data-turbolinks="true">
              <%= submit_tag 'Add', class: 'btn btn-outline-secondary', data: { disable_with: false } %>
            </div>
          </div>
        </td>
      <% end %>
    </tr>
  <% end %>
</tbody>
