<h1>Projects</h1>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3">Actions</th>
      <th>Add worker to project</th>
    </tr>
  </thead>
  <div id="js-projects">
    <%= render 'contracts/js_projects' %>
  </div>
</table>

<br>

<%= link_to 'New Project', new_project_path, class: 'btn btn-primary' %>
