<h1><%= @project.name %></h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Worker</th>
      <th>Working on</th>
    </tr>
  </thead>
  <tbody>
    <% @project.workers.each do |worker| %>
      <tr>
        <td><%= link_to worker.name, worker %></td>
        <td><%= worker.projects.count %> Projects</td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path, data: {turbolinks: false} %>
