<p id="notice"><%= notice %></p>
<h1><%= @worker.name %></h1>
<table class="table">
  <thead>
    <tr>
      <th>
        Project
      </th>
      <th>
        Remove from project
      </th>
    </tr>
  </thead>
  <tbody>
    <% @worker.projects.each do |project| %>
      <tr>
        <td>
          <%= project.name %>
        </td>
        <td>
          <%= link_to 'X', contract_path(project.find_contract(@worker.id)), method: :delete, data: { confirm: 'Are you sure?' }, class: 'badge badge-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_worker_path(@worker) %> |
<%= link_to 'Back', workers_path %>
