<% if alert %>
  <div class="alert alert-warning">
    <%= alert %>
  </div>
<% end %>

<% if notice %>
  <div class="alert alert-info">
    <%= notice %>
  </div>
<% end %>

<% if flash[:success] %>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
<% end %>
