<nav class="navbar navbar-expand-lg navbar-light bg-light" data-turbolinks="false">
  <a class="navbar-brand" href="<%= root_path %>">WorkAssign ©</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="<%= workers_path %>">Workers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= projects_path %>">Projects</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Create
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="<%= new_worker_path %>">Worker</a>
          <a class="dropdown-item" href="<%= new_project_path %>">Project</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="new_search_path">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
